<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Producto
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="background-image">
    <div class="user_card">
      <div style="display: flex; justify-content: center">
        <div class="brand_logo_container">
          <img src="{{this.imagen}}" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="form_container">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input disabled="true" [(ngModel)]="nombre" value="nombre"></ion-input>
              </ion-item>
            </div>
          </div>

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Precio</ion-label>
                <ion-input disabled="true" [(ngModel)]="precio" value="precio"></ion-input>
              </ion-item>
            </div>
          </div>

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Descripcion</ion-label>
                <ion-input disabled="true" [(ngModel)]="descripcion" value="descripcion"></ion-input>
              </ion-item>
            </div>
          </div>

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Datos Vendedor</ion-label>
                <ion-input disabled="true" [(ngModel)]="datos" value="datos"></ion-input>
              </ion-item>
            </div>
          </div>

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Ubicacion</ion-label>
                <ion-input disabled="true" [(ngModel)]="ubicacion" value="ubicacion"></ion-input>
              </ion-item>
            </div>
          </div>

        </ion-list>
        <ion-button expand="block" color="light" size="large" (click)="Comprar()" >Comprar</ion-button>
        <ion-button expand="block" color="light" size="large" (click)="Preguntar()" >Preguntar si esta disponible</ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>

