<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Producto
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="background-image">
    <div class="user_card">
      <div style="display: flex; justify-content: center">
        <div class="brand_logo_container">
          <img src="{{this.imagen}}" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="form_container">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Nombres</ion-label>
                <ion-input [(ngModel)]="nombres1" value="nombres1"></ion-input>
              </ion-item>
            </div>
          </div>

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Descripcion</ion-label>
                <ion-input [(ngModel)]="apellidos1" value="apellidos1"></ion-input>
              </ion-item>
            </div>
          </div>

          <div style="margin-bottom: 15px">
            <div>
              <ion-item>
                <ion-label position="floating">Precio</ion-label>
                <ion-input type="number" [(ngModel)]="precio1" value="precio1"></ion-input>
              </ion-item>
            </div>
          </div>

          <div style="margin-bottom: 15px">
            <div>
              <ion-item *ngIf="showSelector">
                <ion-icon name="image" slot="start"></ion-icon>
                <label class="file">
                  <input type="file" id="file" aria-label="File browser example" (change)="changeListener($event)"/>
                  <span class="file-custom"></span>
                </label>
              </ion-item>
              <ion-item *ngIf="!showSelector">
                <ion-icon name="close" slot="end"
                          style="margin-right: 15px; font-size: 20px" (click)="closeImage()"></ion-icon>
                <ion-img id="image" style="height: 70%; width: 70%; margin: 0 auto"></ion-img>
              </ion-item>
            </div>
          </div>

        </ion-list>
        <ion-button expand="block" color="light" size="large" (click)="Modificar()" >Modificar Producto</ion-button>
        <ion-button expand="block" color="light" size="large" (click)="Eliminar()" >Eliminar Producto</ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>

