<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CovPlace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>A continuacion se muestran los productos que has registrado, selecciona uno para mas opciones </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let p of listaproductos" (click)="holas(p)">
    <img src="{{p.imagen}}"/>
    <ion-card-header>
      <ion-card-subtitle>Precio: Q.{{ p.precio }}</ion-card-subtitle>
      <ion-card-title>{{ p.Nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ p.descripcion }}
    </ion-card-content>
  </ion-card>

</ion-content>