<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registrar un Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <div style="margin-bottom: 15px">
      <div>
        <ion-item>
          <ion-label position="floating">Nombre del Producto</ion-label>
          <ion-input [(ngModel)]="nombre"></ion-input>
        </ion-item>
      </div>
    </div>

    <div style="margin-bottom: 15px">
      <div>
        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-textarea rows="5"[(ngModel)]="descripcion"></ion-textarea>
        </ion-item>
      </div>
    </div>

    <div style="margin-bottom: 15px">
      <div>
        <ion-item>
          <ion-label position="floating">Precio (Q)</ion-label>
          <ion-input  [(ngModel)]="precio"></ion-input>
        </ion-item>
      </div>
    </div>

    <div style="margin-bottom: 15px">
      <div>
        <ion-item *ngIf="showSelector">
          <ion-icon name="image" slot="start"></ion-icon>
          <label class="file">
            <input type="file" id="file" aria-label="File browser example" (change)="changeListener($event)"/>
            <span class="file-custom"></span>
          </label>
        </ion-item>
        <ion-item *ngIf="!showSelector">
          <ion-icon name="close" slot="end"
                    style="margin-right: 15px; font-size: 20px" (click)="closeImage()"></ion-icon>
          <ion-img id="image" style="height: 70%; width: 70%; margin: 0 auto"></ion-img>
        </ion-item>
      </div>
    </div>

    <ion-button expand="block" color="dark" size="large" (click)="Guardar()">Completar Registro</ion-button>
  </ion-list>
</ion-content>
