
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CovPlace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header style="background-color: rgba(5,79,158,0.44)">
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Hola {{this.user}} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let p of listaproductos" (click)="holas(p)">
    <img src="{{p.imagen}}"/>
    <ion-card-header>
      <ion-card-subtitle>Precio: Q.{{ p.precio }}</ion-card-subtitle>
      <ion-card-title>{{ p.Nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ p.descripcion }}
    </ion-card-content>
    <ion-card-content>
      Vendedor: {{ p.nombres }} {{ p.apellidos }}<br/>
      Ubicacion: {{ p.nombre_residencial }}
    </ion-card-content>
  </ion-card>

</ion-content>
