<ion-app>
  <ion-content class="background-image">
    <div class="user_card">
      <div style="display: flex; justify-content: center">
        <div class="brand_logo_container">
          <img src="assets/telefono-movil.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="form_container">
        <div style="margin-bottom: 15px">
          <div style="display: flex">
            <div class="input-group-prepend">
              <ion-icon class="input-group-text" name="people-outline" style="width: 100%; height: 100%"></ion-icon>
            </div>
            <ion-input placeholder="Usuario" (ionChange)="Userinput($event)" style="background: var(--ion-item-background, var(--ion-background-color, #fff));"></ion-input>
          </div>
        </div>
        <div style="margin-bottom: 15px">
          <div style="display: flex">
            <div class="input-group-prepend">
              <ion-icon class="input-group-text" name="key-outline"></ion-icon>
            </div>
            <ion-input (ionChange)="Passwordinput($event)" type="password" placeholder="Contraseña" style="background: var(--ion-item-background, var(--ion-background-color, #fff));"></ion-input>
          </div>
        </div>
        <ion-button expand="block" color="light" size="large" (click)="Loginnormal()">Ingresar</ion-button>
        <ion-button expand="block" color="light" size="large" (click)="Registrarse()">Registrarse</ion-button>
      </div>
      <ion-grid>
        <ion-col size="3">
          <ion-button class="google" (click)="logingoogle()">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>
