<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">

          <ion-list-header>CovPlace</ion-list-header>
          <ion-note>Vende lo que no uses, compra lo que necesites</ion-note>
          <ion-button expand="block" color="light" size="medium" (click)="verHome()">Home</ion-button>
          <ion-button expand="block" color="light" size="medium" (click)="VerPerfil()">Ver Perfil</ion-button>
          <ion-button *ngIf="global.tipo == 1" expand="block" color="light" size="medium" (click)="verCrearProducto()">Agregar Producto</ion-button>
          <ion-button *ngIf="global.tipo == 1" expand="block" color="light" size="medium" (click)="verproducto()">Mis Productos</ion-button>

        </ion-list>


        <ion-list id="serch-list">

          <ion-item>
            <ion-label position="floating">¿Buscas algo?</ion-label>
            <ion-input [(ngModel)]="buscar" value="buscar"></ion-input>
          </ion-item>
          <ion-button expand="block" color="light" size="medium" (click)="verbuscar()">Buscar</ion-button>

        </ion-list>


        <ion-list id="C-list">
          <ion-list-header>Categorias</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="indice(i,p.title,p.id)"  routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>


        <ion-list id="V-list">
          <ion-list-header>Comunicate</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages2; let i = index">
            <ion-item (click)="selectedIndex2 = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex2 == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>


        <ion-list id="A-list">
          <ion-list-header>Ayuda</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages3; let i = index">
            <ion-item (click)="salida(i)" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex3 == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
