<ion-header>
  <ion-toolbar>
    <ion-title>Mis mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="background-color: rgba(5,79,158,0.44)">
      <ion-card-title>Nueva Conversacion</ion-card-title>
    </ion-card-header>
    <ion-card-content fullscreen>
      <ion-item>
        <ion-label>Seleccionar usuario</ion-label>
        <ion-select value="notifications" interface="action-sheet"[(ngModel)]="idUsuario2">
          <ion-select-option *ngFor="let item of usuarios"  [value]=item.idUsuario>
            {{item.nombres}} {{item.apellidos}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" color="light" size="large" (click)="CrearChats()">Crear chat</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header style="background-color: rgba(5,79,158,0.44)">
      <ion-card-title>Tus Conversaciones</ion-card-title>
    </ion-card-header>
    <ion-card *ngFor="let p of salaschats" (click)="verChats(p)">
      <ion-item>
        <ion-avatar slot="start">
          <img height="45%" width="45%" src="https://www.iconarchive.com/download/i86037/graphicloads/100-flat-2/chat-2.ico">
        </ion-avatar>
        <ion-label>
          <h3>{{p.Nombre}}</h3>
          <p>{{p.Mensaje}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card-content>


    </ion-card-content>
  </ion-card>

</ion-content>
