<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card height="80px">
<ion-card-content fullscreen>
  <ion-button expand="block" color="light" size="large" (click)="Regresar()">Regresar</ion-button>
</ion-card-content>
</ion-card>

<ion-content>
  <ion-card>
    <ion-card>
      <ion-label position="floating">Mensaje a enviar</ion-label>
      <ion-input type="text" [(ngModel)]="enviar" ></ion-input>
      <ion-button expand="block"  color="dark" size="medium" aria-multiline="true" (click)="Mandar()"> Mandar mensaje </ion-button>
    </ion-card>

    <ion-card *ngFor="let p of mensajes">
      <ion-item>
        <ion-avatar slot="start">
          <img height="45%" width="45%" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png">
        </ion-avatar>
        <ion-label>
          <h3>{{p.Usuario}}</h3>
          <p>{{p.Mensaje}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-card>

</ion-content>

